p {
    font-size: 18px;
}

hr {
    border: 0;
    height: 1px;
    background: black;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-title {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px gray;
}

.footer-text {
    text-align: center;
}

.external-section {
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    border-style: dotted;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    word-break: break-all;
}

.image-section {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.image-embedded-section {
    vertical-align: middle;
    padding: 5px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.github-logo {
    vertical-align: middle;
    padding: 5px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.docker-logo {
    vertical-align: middle;
    padding: 5px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

.mermaid-section {
    text-align: center;
}